# Copyright (C) Viktor Szakats. See LICENSE.md
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
version: '1.0.{build}'
branches:
  only:
    - 'main'
    - 'main-libressl'
    - 'main-openssl'
    - 'main-boringssl'
    - 'main-awslc'
    - 'main-mini'
    - 'dev'
    - 'dev-libressl'
    - 'dev-openssl'
    - 'dev-boringssl'
    - 'dev-awslc'
    - 'dev-mini'
    - 'test'
    - 'test-libressl'
    - 'test-openssl'
    - 'test-boringssl'
    - 'test-awslc'
    - 'test-mini'
# https://www.appveyor.com/docs/build-environment/#build-worker-images
# https://www.appveyor.com/docs/linux-images-software/
image: 'Ubuntu2204'
clone_depth: 8
build:
  verbosity: 'detailed'
environment:
  CW_LLVM_MINGW_DL: '1'
  CW_LLVM_MINGW_ONLY: '0'
  CW_MAP: '0'
  CW_JOBS: '2'
  CW_CURL_TEST: '1'
  SIGN_CODE_AGE_PASS:
    secure: 'Kvuc2lflkeLOXATpw3n81b+guRAyApr+E5mAdvucvzAlf9Mh19cWCtQz6d34z+DbzGcShZpDlgJg6yJXCSjBcVd5r26PqH9ABo2lxGAOWSQ='
  SIGN_CODE_KEY_PASS:
    secure: 'dGiua20PNhgaxUGN2xEksAsyeobYHBu6Sh3OJFMGT7qvJRE8h+CoZ0MzRGWrrLxk'
  SIGN_PKG_KEY_ID: 'BDCF067D3908B2727A4A948767C1003740BF8DC2'
  SIGN_PKG_AGE_PASS:
    secure: 'Kvuc2lflkeLOXATpw3n81TTTZQQDTJfmPEcCJ0U15Wlep0EK/4SrzcNBaVR79OMFoMx0Aq8FSTJgq7kSjw8QuBam5jq4n35pdrb3Y4UCwig='
  SIGN_PKG_KEY_PASS:
    secure: 'hPd2pmh39DzHjaINLeLKHl3VGVuAuRlLt05nhU7fph55KBeTBjtkHNaKUxBu+3Ev'
  MINISIGN_AGE_PASS:
    secure: 'Kvuc2lflkeLOXATpw3n81dQ2XVwnrrcAGRZrGPCKuoIosswB5H6uJBlDSyfisyVixhfKp2QLSwOJClxXqjXJJB7JbvB5r5cVs5KVd1AsZDU'
  MINISIGN_KEY_PASS:
    secure: 'zVUZlA13ycmDZs10UNTpFRC3zPZgZCbRTcj2lLEzVxllwHJ8eKL8wnhxOVGYg560'
  COSIGN_AGE_PASS:
    secure: 'Kvuc2lflkeLOXATpw3n81U2jfbp79rZpYCNfn2BjnPuPCR6LkZEIUyhq1rerx9Asgs62HsVaO57XEgKB0n2PTgIuKsOEGexZ9BTODGvfwtQ='
  COSIGN_KEY_PASS:
    secure: 'OnmQRlYaVGvoXGqjCW72gmWCGh89KxjCCpNRwC7Gqbr2CVRBeLgTem558dmbgeJW'
  DEPLOY_AGE_PASS:
    secure: 'Kvuc2lflkeLOXATpw3n81T94ozkniSygYBau7sMeJIoPrNySEyC04xpwAw9MZ5qYHPc/P5AByxZcoUIMtIILPEFdd0ueaSm8VoxjqXPB4x8='
  DEPLOY_KEY_PASS:
    secure: 'CS5o1b7BhBEmoEq+RFaTmtWpAd3HqHLqnpJvkAjF+DmnlJVPLo34MeusmnJ56wAX'
  DO_NOT_TRACK: '1'
build_script:
  - sh: |
      sudo rm -rf /etc/apt/sources.list.d/*.list
      sudo apt-get -o Dpkg::Use-Pty=0 update
      sudo rm -f /var/lib/man-db/auto-update
      sudo apt-get -o Dpkg::Use-Pty=0 install -y --no-install-suggests --no-install-recommends podman uidmap
      export CW_CONFIG="${APPVEYOR_REPO_BRANCH}-werror-trurl-win"
      . ./_versions.sh
      mkdir -p ~/.config/containers/
      printf "[storage]\ndriver = \"overlay\"\n" > ~/.config/containers/storage.conf
      sudo loginctl enable-linger "$(id -u)"
      sudo podman image trust set --type reject default
      sudo podman image trust set --type accept docker.io/library
      time podman pull "${OCI_IMAGE_DEBIAN_TESTING}"
      podman info
      time podman run --security-opt seccomp=unconfined --volume="$(pwd):$(pwd)" --workdir="$(pwd)" \
        --env-file=<(env | grep -a -E \
          '^(CW_|SIGN_|COSIGN_|DEPLOY_|APPVEYOR_|CI_|DO_NOT_TRACK)') \
        "${OCI_IMAGE_DEBIAN_TESTING}" \
        sh -c ./_ci-linux-debian.sh

artifacts:
  - path: '*-*-mingw*.*'
    name: 'package'
  - path: 'all-mingw*.*'
    name: 'all'

# init:
#   - sh: curl --disable --user-agent '' --fail --silent --location --proto-redir =https 'https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-ssh.sh' | bash -e -
