# Copyright (C) Viktor Szakats. See LICENSE.md
# SPDX-License-Identifier: MIT
---
# https://docs.github.com/actions/learn-github-actions
name: build
on:
  push:
    branches:
      - main
      - dev
      - test

permissions: {}

env:
  CW_MAP: '1'
  CW_JOBS: '3'
  DO_NOT_TRACK: '1'
  DOCKER_CONTENT_TRUST: '1'

jobs:
  reuse-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - name: 'REUSE compliance check'
        uses: fsfe/reuse-action@v2
        env:
          DOCKER_CONTENT_TRUST: ''

  linux-glibc-debian-testing-llvm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux'
          export CW_REVISION='${{ github.sha }}'
          . ./_versions.sh
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-glibc-debian-testing-llvm'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-glibc-debian-testing-gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-gcc'
          export CW_REVISION='${{ github.sha }}'
          . ./_versions.sh
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-glibc-debian-testing-gcc'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-glibc-debian-bookworm-llvm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='debian:bookworm-slim'
          export CW_CCSUFFIX='-15'
          export CW_GCCSUFFIX='-12'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-glibc-debian-bookworm-llvm'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-glibc-debian-bookworm-gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-gcc'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='debian:bookworm-slim'
          export CW_CCSUFFIX='-15'
          export CW_GCCSUFFIX='-12'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-glibc-debian-bookworm-gcc'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-glibc-debian-sid-llvm-riscv64:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-r64'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='debian:sid-slim'
          export CW_CCSUFFIX='-17'
          export CW_GCCSUFFIX='-13'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-glibc-debian-sid-llvm-riscv64'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-glibc-debian-sid-gcc-riscv64:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-gcc-r64'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='debian:sid-slim'
          export CW_CCSUFFIX='-17'
          export CW_GCCSUFFIX='-13'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-glibc-debian-sid-gcc-riscv64'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl-debian-testing-llvm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-musl'
          export CW_REVISION='${{ github.sha }}'
          . ./_versions.sh
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-musl-debian-testing-llvm'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl-debian-testing-gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-musl-gcc'
          export CW_REVISION='${{ github.sha }}'
          . ./_versions.sh
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-musl-debian-testing-gcc'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl-debian-bookworm-llvm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-musl'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='debian:bookworm-slim'
          export CW_CCSUFFIX='-15'
          export CW_GCCSUFFIX='-12'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-musl-debian-bookworm-llvm'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl-debian-bookworm-gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-musl-gcc'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='debian:bookworm-slim'
          export CW_CCSUFFIX='-15'
          export CW_GCCSUFFIX='-12'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-musl-debian-bookworm-gcc'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl-debian-sid-llvm-riscv64:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-musl-r64'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='debian:sid-slim'
          export CW_CCSUFFIX='-17'
          export CW_GCCSUFFIX='-13'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-musl-debian-sid-llvm-riscv64'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl-debian-sid-gcc-riscv64:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-musl-gcc-r64'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='debian:sid-slim'
          export CW_CCSUFFIX='-17'
          export CW_GCCSUFFIX='-13'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-musl-debian-sid-gcc-riscv64'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl-alpine-llvm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='alpine:latest'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c 'apk add --no-cache bash && ./_ci-linux-alpine.sh'

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-musl-alpine-llvm-x86_64'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl-alpine-gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux-gcc'
          export CW_REVISION='${{ github.sha }}'
          DOCKER_IMAGE='alpine:latest'
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c 'apk add --no-cache bash && ./_ci-linux-alpine.sh'

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-musl-alpine-gcc-x86_64'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl-from-mac:
    runs-on: macos-13
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-linux'
          export CW_REVISION='${{ github.sha }}'
          sh -c ./_ci-mac-homebrew.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-linux-musl-from-mac'
          retention-days: 5
          path: |
            *-*-linux*.*
            urls.txt

  mac-clang:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-mac-macuni'
          export CW_REVISION='${{ github.sha }}'
          sh -c ./_ci-mac-homebrew.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-macos-universal-clang'
          retention-days: 5
          path: |
            *-*-macos*.*
            urls.txt

  mac-llvm:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: 'build'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-mac-macuni-llvm'
          export CW_REVISION='${{ github.sha }}'
          sh -c ./_ci-mac-homebrew.sh

      - name: 'list dependencies'
        run: cat urls.txt
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-macos-universal-llvm'
          retention-days: 5
          path: |
            *-*-macos*.*
            urls.txt

  win-llvm:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 8
      - name: 'build'
        env:
          CW_LLVM_MINGW_DL: '1'
          CW_LLVM_MINGW_ONLY: '0'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-win'
          export CW_REVISION='${{ github.sha }}'
          . ./_versions.sh
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      # https://github.com/actions/upload-artifact
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-windows-llvm'
          retention-days: 5
          path: |
            *-*-mingw*.*
            urls.txt

  win-gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 8
      - name: 'build'
        env:
          CW_LLVM_MINGW_DL: '1'
          CW_LLVM_MINGW_ONLY: '0'
        run: |
          export CW_CONFIG='${{ github.ref_name }}-win-gcc'
          export CW_REVISION='${{ github.sha }}'
          . ./_versions.sh
          docker trust inspect --pretty "${DOCKER_IMAGE}"
          time docker pull "${DOCKER_IMAGE}"
          docker images --digests
          time docker run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt
      # https://github.com/actions/upload-artifact
      - uses: actions/upload-artifact@v3
        with:
          name: 'curl-windows-gcc-noarm64'
          retention-days: 5
          path: |
            *-*-mingw*.*
            urls.txt
