# Copyright (C) Viktor Szakats. See LICENSE.md
# SPDX-License-Identifier: MIT
---
# https://docs.github.com/actions/learn-github-actions
name: daily
'on':
  schedule:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '29 20 * * *'

permissions: {}

env:
  GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
  CW_MAP: '1'
  CW_JOBS: '5'
  CW_PKG_SIGN: '1'
  CW_PKG_NODELETE: '1'
  CW_PKG_FLATTEN: '1'
  DO_NOT_TRACK: '1'
  SIGN_PKG_KEY_ID: 'BDCF067D3908B2727A4A948767C1003740BF8DC2'

jobs:
  linux-glibc:
    if: ${{ github.repository_owner == 'curl' }}
    name: 'Linux glibc (arm64, amd64)'
    runs-on: 'ubuntu-latest'
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: '300'
      - name: 'build'
        env:
          COSIGN_PKG_GPG_PASS: '${{ secrets.COSIGN_PKG_GPG_PASS }}'
          COSIGN_PKG_KEY_PASS: '${{ secrets.COSIGN_PKG_KEY_PASS }}'
          SIGN_PKG_GPG_PASS: '${{ secrets.SIGN_PKG_GPG_PASS }}'
          SIGN_PKG_KEY_PASS: '${{ secrets.SIGN_PKG_KEY_PASS }}'
        run: |
          export CW_CONFIG='werror-dev-linux-a64-x64'
          export CW_REVISION; CW_REVISION="$(TZ=UTC date +'%Y%m%d')"
          . ./_versions.sh
          export CW_CCSUFFIX='-19'
          export CW_GCCSUFFIX='-14'
          sudo podman image trust set --type reject default
          sudo podman image trust set --type accept docker.io/library
          time podman pull "${DOCKER_IMAGE_STABLE}"
          podman images --digests
          time podman run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|SIGN_|COSIGN_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE_STABLE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt ./*-version-*.txt || true
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: 'curl-linux-glibc-daily-tool'
          retention-days: 42
          path: curl-*-*-*/curl*
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: 'curl-linux-glibc-daily'
          retention-days: 42
          path: |
            *-*-linux*.*
            urls.txt

  linux-musl:
    if: ${{ github.repository_owner == 'curl' }}
    name: 'Linux MUSL (arm64, amd64, riscv64)'
    runs-on: 'ubuntu-latest'
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: '300'
      - name: 'build'
        env:
          COSIGN_PKG_GPG_PASS: '${{ secrets.COSIGN_PKG_GPG_PASS }}'
          COSIGN_PKG_KEY_PASS: '${{ secrets.COSIGN_PKG_KEY_PASS }}'
          SIGN_PKG_GPG_PASS: '${{ secrets.SIGN_PKG_GPG_PASS }}'
          SIGN_PKG_KEY_PASS: '${{ secrets.SIGN_PKG_KEY_PASS }}'
        run: |
          export CW_CONFIG='werror-dev-linux-a64-r64-x64-musl'
          export CW_REVISION; CW_REVISION="$(TZ=UTC date +'%Y%m%d')"
          . ./_versions.sh
          sudo podman image trust set --type reject default
          sudo podman image trust set --type accept docker.io/library
          time podman pull "${DOCKER_IMAGE}"
          podman images --digests
          time podman run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|SIGN_|COSIGN_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt ./*-version-*.txt || true
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: 'curl-linux-musl-daily-tool'
          retention-days: 42
          path: curl-*-*-*/curl*
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: 'curl-linux-musl-daily'
          retention-days: 42
          path: |
            *-*-linux*.*
            urls.txt

  mac:
    if: ${{ github.repository_owner == 'curl' }}
    name: 'macOS (arm64, x86_64)'
    runs-on: 'macos-latest'
    timeout-minutes: 30
    env:
      CW_JOBS: '4'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: '300'
      - name: 'build'
        env:
          COSIGN_PKG_GPG_PASS: '${{ secrets.COSIGN_PKG_GPG_PASS }}'
          COSIGN_PKG_KEY_PASS: '${{ secrets.COSIGN_PKG_KEY_PASS }}'
          SIGN_PKG_GPG_PASS: '${{ secrets.SIGN_PKG_GPG_PASS }}'
          SIGN_PKG_KEY_PASS: '${{ secrets.SIGN_PKG_KEY_PASS }}'
        run: |
          export CW_CONFIG='werror-dev-mac-macuni'
          export CW_REVISION; CW_REVISION="$(TZ=UTC date +'%Y%m%d')"
          sh -c ./_ci-mac-homebrew.sh

      - name: 'list dependencies'
        run: cat urls.txt ./*-version-*.txt || true
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: 'curl-macos-universal-daily-tool'
          retention-days: 42
          path: curl-*-universal-*/curl*
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: 'curl-macos-universal-daily'
          retention-days: 42
          path: |
            *-*-macos*.*
            urls.txt

  win:
    if: ${{ github.repository_owner == 'curl' }}
    name: 'Windows (arm64, x64)'
    runs-on: 'ubuntu-latest'
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: '300'
      - name: 'build'
        env:
          COSIGN_PKG_GPG_PASS: '${{ secrets.COSIGN_PKG_GPG_PASS }}'
          COSIGN_PKG_KEY_PASS: '${{ secrets.COSIGN_PKG_KEY_PASS }}'
          SIGN_PKG_GPG_PASS: '${{ secrets.SIGN_PKG_GPG_PASS }}'
          SIGN_PKG_KEY_PASS: '${{ secrets.SIGN_PKG_KEY_PASS }}'
          CW_LLVM_MINGW_DL: '1'
          CW_LLVM_MINGW_ONLY: '0'
        run: |
          export CW_CONFIG='werror-dev-win'
          export CW_REVISION; CW_REVISION="$(TZ=UTC date +'%Y%m%d')"
          . ./_versions.sh
          sudo podman image trust set --type reject default
          sudo podman image trust set --type accept docker.io/library
          time podman pull "${DOCKER_IMAGE}"
          podman images --digests
          time podman run --volume "$(pwd):$(pwd)" --workdir "$(pwd)" \
            --env-file <(env | grep -a -E \
              '^(CW_|SIGN_|COSIGN_|GITHUB_|DO_NOT_TRACK)') \
            "${DOCKER_IMAGE}" \
            sh -c ./_ci-linux-debian.sh

      - name: 'list dependencies'
        run: cat urls.txt ./*-version-*.txt || true
      # https://github.com/actions/upload-artifact
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: 'curl-windows-daily-tool'
          retention-days: 42
          path: curl-*-*-*/curl*
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: 'curl-windows-daily'
          retention-days: 42
          path: |
            *-*-mingw*.*
            urls.txt
